all_hat*
hats-*
field_*
*phn*
*csv*
*head
/src/astrobase*
/src/DEBiL/src/HAT*txt
/src/dev/astrobase*
data/LCs/*
data/HATpipe/*
data/intermed/*
data/catalogs/*
data/HATinfo/*
data/DEBiL_LCs/*
data/DEBiL_heads/*
data/CPs_cut/*
data/LCs_cut/*
results/prelim*
