all_hat*
hats-*
field_*
*phn*
*csv*
*head
/src/astrobase*
/src/auxtools*
/src/keptools*
/src/DEBiL/src/HAT*txt
/src/dev/astrobase*
/src/*out
/src/LOGS*
/src/data*
/src/*json
data/LCs/*
data/HATpipe/*
data/intermed/*
data/catalogs/*
data/HATinfo/*
data/DEBiL_LCs/*
data/DEBiL_heads/*
data/CPs_cut/*
data/LCs_cut/*
data/detachedEBs*
data/*pkls*
results/prelim*
*pkl.gz
